
.body{
	 padding-top: 80px;
	height:600px;
	background-color: #4CB1CA;
	font-family: sans-serif;
}

.chat_box{
	
       
	bottom:0px;
	width:250px;
}
.left{
   margin:40px;
   color:white;
   font-size:20px;
    float: left;
}
.right{
    margin: 5px;
    float: right;
}
.right .logo{
    width:100px;
    height: 100px;
    border-radius:200px;
    background-color: white;
}
.chat_body{
   
	background:white;
	height:400px;
	padding:5px 0px;
}

.chat_head,.msg_head{
	background:#f39c12;
	
	
	font-weight:bold;
	cursor:pointer;
	border-radius:5px 5px 0px 0px;
}

.msg_head{
	background:#f39c12;
	color:white;
	padding:55px;
	font-weight:bold;
	cursor:pointer;
	border-radius:5px 5px 0px 0px;
}

.msg_box{
	position:relative;
	left:330px;
	
	height:430px;
	width:550px;
	
	border-radius:5px 5px 0px 0px;
}

.msg_head{
	background:#3498db;
}
.icon
{
     border-radius: 50%;
     width:100px;
}

.msg_body{
	background-image:url("../images/bgimg.jpg");
	height:300px;
	font-size:12px;
	padding:15px;
	overflow:auto;
	overflow-x: hidden;
}
.msg_input{
	width:90%;
	border: 1px solid white;
	border-top:1px solid #DDDDDD;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}
#textarea2{
	width:90%;
	border: 1px solid white;
	border-top:1px solid #DDDDDD;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}

.close{
	margin-left:20px;
	cursor:pointer;
}
.minimize{
	float:right;
	cursor:pointer;
	padding-right:5px;
	
}

.user{
	position:relative;
	padding:10px 30px;
}
.user:hover{
	background:#f8f8f8;
	cursor:pointer;

}
.user:before{
	content:'';
	position:absolute;
	background:#2ecc71;
	height:10px;
	width:10px;
	left:10px;
	top:15px;
	border-radius:6px;
}

.msg_a{
	position:relative;
	background:#FDE4CE;
	padding:10px;
	min-height:10px;
	margin-bottom:5px;
	margin-right:10px;
	border-radius:5px;
}
.msg_a:before{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent #FDE4CE transparent transparent;
	left:-20px;
	top:7px;
}


.msg_b{
	background:#EEF2E7;
	padding:10px;
	min-height:15px;
	margin-bottom:5px;
	position:relative;
	margin-left:10px;
	border-radius:5px;
	word-wrap: break-word;
}
.msg_b:after{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent transparent transparent #EEF2E7;
	right:-20px;
	top:7px;
}

#submit1
{
   float:right;
   padding-top:4px;
}
.imageContainer
{
	
	
	min-height:60px;
	margin-bottom:5px;
	position:relative;
	margin-left:10px;
	border-radius:5px;
	word-wrap: break-word;
}
.imageContainer:after{
	content:"";
	position:absolute;
	width:0px;
	height:0px;
	border: 10px solid;
	border-color: transparent transparent transparent #EEF2E7;
	right:-20px;
	top:7px;
}
